@import 'tailwindcss';

@theme {
  --color-brand: rgb(185, 233, 205);
}

@layer base {

  :root {

  @apply font-sans font-normal leading-[1.5px];

    background-color: #fcfaf8;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
